:root {
    --fs-big-shoulders-display: "Big Shoulders Display", sans-serif;
    --fs-lexend-deca: "Lexend Deca", sans-serif;

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white: hsl(0, 0%, 100%);

    --t-white: hsla(0, 0%, 100%, 0.75);
    --transparent: hsla(0, 0%, 0%, 0);
    --very-light-gray: hsl(0, 0%, 95%);

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fs-lexend-deca);
    font-size: clamp(1.2rem , 1.4rem, 1.6rem);;
    color: var(--white);
    background-color: var(--white);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

img,
svg,
figure {
    display: block;
}

.card {
    max-width: 30rem;
    max-height: 120rem;

    margin-top: 8rem;
    margin-bottom: 8rem;

    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "sedans"
            "suvs"
            "luxury";
    overflow: hidden;
    place-content: center;
}

.card article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 4rem;

}

.card article img {
    width: 6rem;
}

.card article h2 {
    font-size: 4rem;
    font-family: var(--fs-big-shoulders-display);
    font-weight: 700;

    color: var(--t-white);

    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card article p {
    font-family: var(--fs-lexend-deca);
    font-weight: 400;

    line-height: 2.5rem;

    color: var(--t-white);
}

.card__sedans {
    grid-area: sedans;
    background-color: var(--bright-orange);
}

.card__sedans button {
    color: var(--bright-orange);
}

.card__suvs {
    grid-area: suvs;
    background-color: var(--dark-cyan);
}

.card__suvs button {
    color: var(--dark-cyan);
}

.card__luxury {
    grid-area: luxury;
    background-color: var(--very-dark-cyan);
}

.card__luxury button {
    color: var(--very-dark-cyan);
}

.card > article > button {
    width: 70%;
    margin-top: 2.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--white);

    border: .25rem solid var(--white);

    border-radius: 3rem;
    padding: 1.6rem;
    cursor: pointer;

}

.card > article > button:focus {
    background-color: var(--transparent);
    color: var(--white);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

footer {
    color: black;
    position: fixed;
    bottom: 0.313rem;
}

@media (min-width: 800px) {

    .card {
        min-width: 80rem;
        max-height: 50rem;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "sedans suvs luxury";
    }

    footer {
        position: static;
        margin-top: 2rem;
    }
}

